# os
Thumbs.db
.DS_Store

# ide
.idea
.vscode

# python
__pycache__
**/*.pyc
*.egg-info
.pytest_cache
.ruff_cache
.venv

# node
node_modules

# app
.env
.env.*
.coverage
/htmlcov
/data
/webapps/site/src/brand.css
/webapps/admin/src/brand.css
/webapps/admin/dist
/webapps/site/dist
/webapps/admin/coverage
/webapps/site/coverage

# written by schema-diff
extras/schema/
